{% extends 'base.html' %}
{% block content %}
<div class = 'jumbotron'>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
<p class="lead">Are you sure you want to {{ action }} the appointment on {{ date }}?</p>
<hr class = 'my-4'>
    <form method = 'POST'>
        {{ form.hidden_tag() }}
        <a href="{{ url_for('appointments.calendar') }}"><button type="button" class="btn btn-warning">No, I changed my mind.</button></a>
        <button type="submit" class="btn btn-info">Yes, I want to do that.</button>
    </form>
</div>
{% endblock %}