{% extends'base.html' %}
{% block content %}
    <div class = 'jumbotron'>
    <h2>Users</h2>
    {% for user in users %}
    {{ user.first }} {{ user.last }}:
    {{ user.email }}<strong>
    {% if user.email_me == 1 %}
    will
    {% else %}
    will not
    {% endif %}</strong>
    receive email.
    ({{ user.phone[0:3] }}) {{ user.phone[3:6] }} - {{ user.phone[6:] }}<strong>
    {% if user.text_me == 1 %}
    will
    {% else %}
    will not
    {% endif %}</strong>
    receive texts.<br>

    {% endfor %}
            <hr class = 'my-4'>
    <h2>Admins</h2>
    {% for admin in admins %}
    {{ admin }} {% if admin.email_me %} send email {% endif %} {% if admin.text_me %} text me {% endif %}<br>
    {% endfor %}
    </div>

    <div class = 'container'>
    Put in the email of the person to either give or remove admin powers.<br>
    <form method = 'POST'>
    {{ form.hidden_tag() }}
    <div class = 'form-group'>
        {{ form.email(placeholder = current_user.email, class = 'col-md-6 form-control') }}
    </div>
    <div class = 'form-group'>
        {{ form.add_or_remove.label() }} {{ form.add_or_remove() }}
    </div>

    {{ form.submit(class = 'btn btn-info') }}
    </form>
    </div>

{% endblock %}