{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h5 class="display-4" id="">Integrative Manual Therapy</h5>
    <p class="lead">at Portland IMT</p>
  <hr class="my-4">
  <p>
      Kellye Nicol is a California transplant happily living with her family in Portland, Oregon since 2012.
      She has a BA from Cal State Northridge, IMTC from the Connecticut School of Integrative Manual Therapy (2009),
      and LMT certificate in Oregon under which she practices IMT. In addition to her continuing IMT education, Kellye
      actively takes Jones Strain-CounterStrain classes and Fascial Counterstrain courses.<p>
      A mother of 4, including a special needs child, Kellye feels privileged to be able to focus her practice on women
      and children and create a safe, supportive environment for health.  Her personal interests
      include hiking, quilting, and sailing trips with her family.
  </p>
</div>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="../static/portlandIMTB.jpg" class="card-img-top" alt="dawg">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Family vacation</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="../static/knicol.JPG" class="card-img-top" alt="picture of Kellye">
            <div class="card-body">
                <h5 class="card-title">Kellye Nicol</h5>
                <p class="card-text">Certified IMT practitioner and LMT</p>
                <p class="card-text">
                <small class="text-muted"></small>
                </p>
            </div>
        </div>

        <div class="card">
            <img src="../static/portlandIMTA.jpg" class="card-img-top" alt="girl jumping off boat">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Kellye enjoys travel to tropical locations</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
    <br>
    <p id="learnmore"><a  href="https://imtwellnesscenter.com/what-is-imt/">Learn more about IMT</a></p>

{% endblock %}